@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

html{
    scroll-behavior: smooth;
}
body{
  font-size: 0.8rem;
  font-family:  'vazir' , sans-serif;
  background-color: #1d2223;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 16%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(222.75, 70%, 78%) 0, transparent 55%)
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
.lalezar{
    font-family: lalezar;
}
.vazir{
    font-family: vazir;
}
/* header name shop */
.name-shop{
   color: aliceblue;
   text-decoration: underline;
}

@media screen and (min-width:770px) {
    .name-shop{
        display: none;
        z-index:1;
      
    }
    .text-slider{
        margin-right: 235px;
        border-right: 2px solid gray;
    }
  
}
/* nav logo */
.img-logo{
width: 85px;
height: 85px;
border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
transition: all 0.1s;
}
.img-logo:hover{
    transform: scale(1.01);
}
@media screen and (max-width:576px){
    .img-logo{
        width:50px;
        height:50px;
    }
    .card{
        width: 75%;
        margin: auto;
    }
   
}
/* nav list */
.nav-item{
    padding: 2px 15px;
    background-color: #145964;
    margin: 0 5px;
    border-radius:5px;
    font-family: lalezar;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.nav-item:hover{
    transform: translateY(-1px);
    background-color: #176a59;
    

}
/* drop down menu */
.dropdown-menu{
    text-align: center;
    background-color: #145964;
    
}
.dropdown-item:hover{
    background-color: #176a59;
    color: #aaa;
}

/* header-img */

    

/* button navbar */

/* slider */
#carouselExampleCaptions{
  opacity: 1;
}

.carousel{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
/* cards */
.card{
backdrop-filter: blur(100%) saturate(63%);
-webkit-backdrop-filter: blur(25px) saturate(63%);
background-color: rgba(17, 25, 40, 0.43);
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.125);
transition: all 0.1s;

}
.card:hover{
    transform: translateY(-2px)
}
.card-text{
    color: aliceblue;
}
/* section1 */
.section-1{
backdrop-filter: blur(100%) saturate(63%);
-webkit-backdrop-filter: blur(25px) saturate(63%);
background-color: rgba(17, 25, 40, 0.43);
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.125);
transition: all 0.1s;
}
.img-section1{
    box-shadow: ;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 0.5s;
}
.img-section1:hover{
    transform: scale(1.2)
}

/* accordian item */

.button-menu-accordian{
    background-color: #1f2e47;
}
.button-menu-accordian{
    background-color: #313845;
}
.accordion-button:not(.collapsed){
    background-color: #31374e;
}
.section-accordian{
    backdrop-filter: blur(100%) saturate(63%);
    -webkit-backdrop-filter: blur(25px) saturate(63%);
    background-color: rgba(17, 25, 40, 0.43);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}