@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

html{
    scroll-behavior: smooth;
}
body{
  font-size: 0.8rem;
  font-family:  'vazir' , sans-serif;
  background-color: #bfc0c108;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
.lalezar{
    font-family: lalezar;
}
.vazir{
    font-family: vazir;
}
/* header name shop */
.name-shop{
    text-shadow: 0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
@media screen and (min-width:770px) {
    .name-shop{
        display: none;
        z-index:1;
      
    }
    .text-slider{
        margin-right: 235px;
        border-right: 2px solid gray;
    }
  
}
/* nav logo */
.img-logo{
width: 85px;
height: 85px;
border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
transition: all 0.1s;
}
.img-logo:hover{
    transform: scale(1.01);
}
@media screen and (max-width:576px){
    .img-logo{
        width:50px;
        height:50px;
    }
   
}
/* nav list */
.nav-item{
    padding: 2px 15px;
    background-color: #78858e7e;
    margin: 0 5px;
    border-radius:5px;
    font-family: lalezar;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.nav-item:hover{
    transform: translateY(-1px);
    background-color: #78858eb3;

}

/* header-img */

    

/* button navbar */

/* slider */


.carousel{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
/* cards */
.card{
    background: rgb(195,198,213);
background: radial-gradient(circle, rgba(195,198,213,1) 56%, rgba(164,160,161,1) 100%);
transition: all 0.3s;
}
.card:hover{
    transform: scale(1.01);
}